<p id="notice"><%= notice %></p>

<p>
  <strong>St number:</strong>
  <%= @student.st_number %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Slast name:</strong>
  <%= @student.slast_name %>
</p>

<p>
  <strong>Names:</strong>
  <%= @student.names %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Map link:</strong>
  <%= @student.map_link %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @student.father_name %>
</p>

<p>
  <strong>Father work:</strong>
  <%= @student.father_work %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @student.mother_name %>
</p>

<p>
  <strong>Mother work:</strong>
  <%= @student.mother_work %>
</p>

<p>
  <strong>Sibling:</strong>
  <%= @student.sibling %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @student.colonia %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @student.zip_code %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @student.foto %>
</p>

<p>
  <strong>Shoe size:</strong>
  <%= @student.shoe_size %>
</p>

<p>
  <strong>Tshirt size:</strong>
  <%= @student.tshirt_size %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @student.profession %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @student.notes %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
