<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @score.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @score.year %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<p>
  <strong>Student:</strong>
  <%= @score.student %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
